<ion-view view-title="Product">
    <!--<ion-content ng-class="{expanded:isExpanded}">-->
        <!--<div class="content has-header">-->
            <!--<div class="list card animate-fade-slide-in-right"  collection-repeat="img  in allImages">-->
                <!--<h4><b>{{prod_name}}</b></h4>-->
                <!--<a href="#/app/profile" class="item item-body">-->
                    <!--<img src="{{img}}">-->
                    <!--</a>-->
                    <!--<h2>Puma T-Shirt</h2>-->
                      <!--<p class="trim-info" ng-bind-html="description | unsafe">-->
                    <!--&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
                <!--&lt;!&ndash;<div class="item item-avatar">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="{{img}}">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<img ng-src="{{product.image_urls[0].link}}"/>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2><b>{{prod_name}}</b></h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<h2>{{product.Name}}</h2>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<p>Product-Code : {{product.id}}</p>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;<div class="item item-body" >&ndash;&gt;-->


                        <!--&lt;!&ndash;&lt;!&ndash;<img  class="full-image" src="{{selected_image}}">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="background-color: #ffffff;" >&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<ion-slide-box>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<ion-slide >&ndash;&gt;&ndash;&gt;-->

                            <!--&lt;!&ndash;<img  class="full-image" src="{{img}}">&ndash;&gt;-->

                            <!--&lt;!&ndash;&lt;!&ndash;</ion-slide>&ndash;&gt;&ndash;&gt;-->

                            <!--&lt;!&ndash;&lt;!&ndash;</ion-slide-box>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->




                        <!--&lt;!&ndash;&lt;!&ndash;<ion-scroll id="ionScrollRegion" direction="x" >&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;<div class="list"   collection-repeat="image  in allImages | filter:filter | limitTo:10">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<table width="100%" style="border-right: 2px solid #666666;">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<tr style="display: inline-block ;" >&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<td width="100%">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<a class="item my-item item-thumbnail-left"&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;ng-href="#/app/prod/{{product.id}}">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<img class="full-image" ng-src="{{image}}">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</td>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<td width="50%"  style="border-right: 2px solid #666666;">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<h5>  Product-Name:   {{product.Name}}</h5>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<p>  Product-Code : {{product.id}}</p>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</td>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</tr>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</table>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</ion-scroll>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<ion-slide-box>&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;<ion-slide>&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;<img style="width: 100%" src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/grass/5.jpg" >&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;</ion-slide>&ndash;&gt;&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;</ion-slide-box>&ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div  class="list card" >&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="item item-body" >&ndash;&gt;-->


                    <!--&lt;!&ndash;<p class="trim-info" ng-bind-html="description | unsafe">&ndash;&gt;-->

                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div  class="list card" >&ndash;&gt;-->
                <!--&lt;!&ndash;<h4 style="text-align: center">Price Details</h4>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="item item-body" >&ndash;&gt;-->

                    <!--&lt;!&ndash;<table>&ndash;&gt;-->
                        <!--&lt;!&ndash;<tr >&ndash;&gt;-->
                            <!--&lt;!&ndash;<td><b>Quantity &nbsp;&nbsp;&nbsp;&nbsp;</b></td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td> <b>Price(INR) &nbsp;&nbsp; &nbsp;&nbsp;</b></td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td><b> Discount % </b></td>&ndash;&gt;-->

                        <!--&lt;!&ndash;</tr>&ndash;&gt;-->

                        <!--&lt;!&ndash;<tr  data-ng-repeat="op in product_price" >&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{op.min_qty}}-{{op.max_qty}}</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{op.final_offer}}</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{op.discount}}</td>&ndash;&gt;-->

                        <!--&lt;!&ndash;</tr>&ndash;&gt;-->

                    <!--&lt;!&ndash;</table>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div  class="list card" >&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="item item-body" >&ndash;&gt;-->


                    <!--&lt;!&ndash;<p>&ndash;&gt;-->
                        <!--&lt;!&ndash;Puma&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--&lt;!&ndash;<div class="list card animate-fade-slide-in-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<h4><b>Puma T-Shirt</b></h4>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#/app/profile" class="item item-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="http://cdn-new-annectos.s3.amazonaws.com/images/puma/z/83574902_zoom.jpg">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2>Puma Jacket</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>Discription</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href="#/app/profile" class="item item-avatar item-icon-right">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<img src="img/daenerys.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h2>Daenerys Targaryen</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>Dragon mommy</p>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href="#/app/profile" class="item item-avatar item-icon-right">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<img src="img/arya.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h2>Arya Stark</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>Is Chuck Norris' fear</p>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href="#/app/profile" class="item item-avatar item-icon-right">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<img src="img/sansa.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h2>Sansa Stark</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<a href="#/app/profile" class="item item-avatar item-icon-right">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<img src="img/tyrion.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h2>Tyrion Lannister</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>B.A.M.F. imp</p>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<i class="icon ion-chatbubble muted"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</ion-content>-->

    <ion-view view-title="{{product_id}}">
        <ion-content  style="height: 100% ; background-color:#ffffff;">


            <div  class="list card" collection-repeat="img  in allImages">

                <div class="item item-avatar">
                    <img src="{{img}}">
                    <!--<img ng-src="{{product.image_urls[0].link}}"/>-->
                    <h2><b>{{prod_name}}</b></h2>
                    <!--&lt;!&ndash;<h2>{{product.Name}}</h2>-->
                    <!--<p>Product-Code : {{product.id}}</p>-->
                    <!--</div>-->

                    <div class="item item-body" >


                        <!--<img  class="full-image" src="{{selected_image}}">-->
                        <div style="background-color: #ffffff;" >
                            <!--<ion-slide-box>-->
                            <!--<ion-slide >-->

                            <img  class="full-image" src="{{img}}">

                            <!--</ion-slide>-->

                            <!--</ion-slide-box>-->
                        </div>




                        <!--<ion-scroll id="ionScrollRegion" direction="x" >-->

                        <!--<div class="list"   collection-repeat="image  in allImages | filter:filter | limitTo:10">-->
                        <!--<table width="100%" style="border-right: 2px solid #666666;">-->
                        <!--<tr style="display: inline-block ;" >-->
                        <!--<td width="100%">-->
                        <!--<a class="item my-item item-thumbnail-left"-->
                        <!--ng-href="#/app/prod/{{product.id}}">-->
                        <!--<img class="full-image" ng-src="{{image}}">-->
                        <!--</a>-->
                        <!--</td>-->
                        <!--<!--<td width="50%"  style="border-right: 2px solid #666666;">-->
                        <!--<!--<h5>  Product-Name:   {{product.Name}}</h5>-->
                        <!--<!--<p>  Product-Code : {{product.id}}</p>-->
                        <!--<!--</td>-->
                        <!--</tr>-->
                        <!--</table>-->
                        <!--</div>-->
                        <!--</ion-scroll>-->
                        <!--<ion-slide-box>-->

                        <!--<ion-slide>-->

                        <!--<img style="width: 100%" src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/grass/5.jpg" >-->

                        <!--</ion-slide>-->

                        <!--</ion-slide-box>-->

                    </div>
                </div>


            </div>
            <div  class="list card" >

                <div class="item item-body" >


                    <p class="trim-info" ng-bind-html="description | unsafe">

                    </p>
                </div>
            </div>

            <div  class="list card" >
                <h4 style="text-align: center">Price Details</h4>
                <div class="item item-body" >

                    <table>
                        <tr >
                            <td><b>Quantity &nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                            <td> <b>Price(INR) &nbsp;&nbsp; &nbsp;&nbsp;</b></td>
                            <td><b> Discount % </b></td>

                        </tr>

                        <tr  data-ng-repeat="op in product_price" >
                            <td>{{op.min_qty}}-{{op.max_qty}}</td>
                            <td>{{op.final_offer}}</td>
                            <td>{{op.discount}}</td>

                        </tr>

                    </table>
                </div>
            </div>

            <div  class="list card" >

                <div class="item item-body" >


                    <p>
                       Puma
                    </p>
                </div>
            </div>

        </ion-content>

        <ion-footer-bar style="height: 60px ;width: 100% ;padding-top: 15px"   >
            <!--<div class="buttons">-->
            <!--<button class="button">Left Button</button>-->
            <!--</div>-->
            <a  class="button" style="border-color: #b71c1c;background-color: #b71c1c;width: 100% ;text: #ffffff" href= "#/app/enquiry" >
                <h4 style="color: #ffffff ;text-shadow: 2px 2px 8px #5d5d5d">Enquire Now</h4>
            </a>
        </ion-footer-bar>
    </ion-view>
</ion-view>
